.summary-box {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #555;
  border-radius: var(--border-radius);
  background-color: var(--color-surface-light);
  font-size: 1.1rem;
  color: var(--color-text);
}